@model Element
@{
    const string baseTileStyle = "p-2 select-none ";
    const string baseActiveTileStyle = baseTileStyle + "text-white hover:bg-alpha-50! hover:text-black! transition-colors duration-500 hover:duration-0 ";

    var tileStyle = "";
    switch (Model.Category)
    {
        case "alkali-metal":
            tileStyle = baseActiveTileStyle + "bg-alpha-500";
            break;

        case "alkaline-earth-metal":
            tileStyle = baseActiveTileStyle + "bg-alpha-600";
            break;

        case "transition-metal":
        case "lanthanide":
        case "actinide":
            tileStyle = baseActiveTileStyle + "bg-alpha-900";
            break;

        case "post-transition-metal":
        case "metalloid":
            tileStyle = baseActiveTileStyle + "bg-alpha-700";
            break;

        case "polyatomic-nonmetal":
        case "diatomic-nonmetal":
            tileStyle = baseActiveTileStyle + "bg-alpha-600";
            break;

        case "noble-gas":
            tileStyle = baseActiveTileStyle + "bg-alpha-500";
            break;

        default:
            tileStyle = baseTileStyle + "text-black! opacity-50";
            break;
    }
}
<style>
    :root {
        /* TILES */
        --fs-element-primary: clamp(20cqw, 40cqw, 50cqw);
        --fs-element-secondary: clamp(calc(var(--fs-element-primary) * 0.33), calc(var(--fs-element-primary) * 0.5), calc(var(--fs-element-primary) * 0.75));
        --fs-element-tertiary: calc(var(--fs-element-primary) * 0.33);
    }

    .tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        container-type: size;
        margin: 0;
        border-radius: 10%;
        line-height: 1;
        gap: 3%;
    }

    .element-number {
        font-size: var(--fs-element-secondary);
        display: flex;
    }

    .element-symbol {
        display: flex;
        font-size: var(--fs-element-primary);
    }

    .element-name {
        display: flex;
        font-size: 14cqw;
        text-align: center;
        font-weight: bold;
    }

    .element-weight {
        display: flex;
        font-size: var(--fs-element-tertiary);
    }
</style>

<div class="tile @tileStyle" style="grid-column: @Model.Column; grid-row: @Model.Row;">
    <div class="element-number">@Model.Number</div>
    <div class="element-symbol">@Model.Symbol</div>
    <div class="element-name">@Model.Name</div>
    <div class="element-weight">@Model.AtomicMass.ToString("F3").TrimEnd('0').TrimEnd('.')</div>
</div>
