@model Element
@{
    var href = ViewData["Href"] as string ?? null;
    const string baseActiveTileStyle = "text-white hover:bg-alpha-50! hover:text-black! transition-colors duration-500 hover:duration-0 ";

    var tileStyle = "";
    switch (Model.Category)
    {
        case "transition-metal":
        case "lanthanide":
        case "actinide":
            tileStyle = baseActiveTileStyle + "bg-alpha-900";
            break;

        case "post-transition-metal":
        case "metalloid":
            tileStyle = baseActiveTileStyle + "bg-alpha-800";
            break;

        case "alkaline-earth-metal":
        case "polyatomic-nonmetal":
        case "diatomic-nonmetal":
            tileStyle = baseActiveTileStyle + "bg-alpha-700";
            break;

        case "alkali-metal":
        case "noble-gas":
            tileStyle = baseActiveTileStyle + "bg-alpha-600";
            break;

        default:
            tileStyle = "text-black! opacity-50";
            break;
    }

    var symbolSize = Model.Symbol.Length <= 2 ? "text-[40cqw]" : "text-[33cqw]";
}

<a href="@href"
       class="tile @tileStyle m-0 p-2 grid aspect-square h-full grid-cols-6 grid-rows-6 items-center justify-between rounded-md leading-none select-none"
       style="grid-column: @Model.Column; grid-row: @Model.Row;">
    <div class="element-number size-full overflow-hidden text-end">@Model.Number</div>
    <div class="element-symbol container-[size] -mt-1 size-full overflow-hidden font-semibold">
        <div class="@symbolSize">@Model.Symbol</div>
    </div>
    <div class="element-name size-full text-center font-bold">@Model.Name</div>
    <div class="element-weight size-full">
        @Model.AtomicMass.ToString("F3").TrimEnd('0').TrimEnd('.')</div>
    </a>
