@using SSD2600_CDEGP.Helpers
@model dynamic

@{
    var size = @ViewData["Size"] as string ?? "";
    var center = @ViewData["Center"] as bool? ?? false;
    var typeHides = @ViewData["LogoTypeShouldHide"] as bool? ?? false;

    var logoStyles = new CssClasses(
        ("flex min-w-fit aspect-square overflow-hidden"),
        (size == "small", "basis-fit h-16", "h-24 shrink-0"),
        (center, "basis-1/3 justify-end", "")
    );

    var logoTypeStyles = new CssClasses(
        ("basis-2/3 shrink font-displaysxp font-semibold z-10"),
        (typeHides, "hidden lg:block", ""),
        (size == "small", "leading-none text-3xl", "text-5xl")
    );
}

<div class="flex gap-2 place-items-center">
    <div class="@logoStyles">
        <img class="h-full object-cover" src="/assets/papi-logo.svg" />
    </div>
    <p class="@logoTypeStyles">Prometheus Atomics</p>
</div>
